.checkbox {
  display: inline-block !important;
  background-color: #ebfffa !important;
  padding: 0 !important;
  height: 54px;
  width: 54px;
}

.checkbox:focus-within {
  box-shadow: none !important;
}

.checkbox input[type='checkbox'] {
  top: 14px !important;
  left: 14px !important;
}
