.introductionTitle {
  max-width: 600px;
  margin: 1em auto !important;
}

.stepBody {
  max-width: 300px;
  margin: 0 auto;
}

.stepTitle {
  max-width: 250px;
  margin: 0.5em auto;
}

.contactInfo {
  max-width: 550px;
  margin-left: auto !important;
  margin-right: auto !important;
}
