.sidePadding {
  padding-left: 4em;
  padding-right: 4em;
}

.resultsHeader {
  font-weight: lighter !important;
}

.resultsSubheader {
  font-weight: lighter !important;
  font-size: 1.9rem;
  width: 60%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.subSectionTitle {
  font-weight: 400;
}

.sectionDivider {
  margin: 0 -38px auto;
  width: 960px;
  border-bottom: 2px solid #f7f5f4;
}

.impactSection {
  text-align: center;
  margin-bottom: 20px;
}

.contentsListContainer {
  width: 50%;
  margin: 0 auto;
}

.contentsList {
  list-style: decimal;
  padding-left: 110px;
  margin-top: 0;
  line-height: 1em;
}

.contentsTableTitle {
  margin-top: 2em;
  padding-left: 90px;
  text-align: left;
}

.contentsTable {
  border-bottom: none !important;
  margin: 0 -38px auto;
  width: 960px !important;
}

.contentsTable th {
  padding-right: 15px;
  border-bottom: 2px solid #f7f5f4 !important;
}

.contentsTable td {
  padding-right: 15px;
  border-bottom: none !important;
}

.fileColumn {
  width: 250px;
}

.columnsColumn {
  width: 185px;
}

.rowsColumn {
  width: 170px;
}

.supportingColumn {
  width: 160px;
}

.supportingCheck {
  padding-right: 35px !important;
}

.eligibilityColumn {
  width: 160px;
}

.eligibilityCheck {
  padding-right: 72px !important;
}

.completedIcon {
  background-color: #009d86;
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('../assets/images/white_check_large.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.tealCheck {
  background-image: url('../assets/images/teal_check.png');
}

.resultsFooter {
  margin-top: 0 !important;
}
